.main {
	margin: 10px;
}
.rotations {
	text-align: right;
	padding-bottom: 4px;
}

.results {
	margin-bottom: 0 !important;
}

.rotbar {
	margin: 4px 0 !important;
}

.btn:focus {
	outline: none !important;
}
